# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage

# Production Build
/build
/dist

# Environment variables & Local configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Editor & OS files
.DS_Store
Thumbs.db
.vscode/


# Cache
.eslintcache
